        .leftcont {
            height: 100%;
            width: 75%;
        }

        .leftcontheadingcont {
            height: 7.5vh;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .leftcontheadingtext {
            color: #ff8141;
            font-size: 17px;
            font-weight: 500;
        }

        .leftcontboxescont {
            height: 100%;
            width: 100%;
        }

        .artistbox {
            height: 200px;
            width: 100%;
            margin-bottom: 10px;
            cursor: pointer;

            border-radius: 5px;
            box-shadow: 0 2px 7px 3px #d7dae4;
            background-color: #fff;

            display: flex;
            column-gap: 10px;
        }

        .artistimagecont {
            height: 200px;
            width: 200px;
            border-radius: 5px;
        }

        .artistimagecont img {
            height: 100%;
            width: 100%;
            border-radius: 5px;

        }

        .artistinfocont {
            height: 40%;
            width: 425px;
            margin-top: 8px;
        }

        .artistname {
            height: 35%;
            width: 100%;
            font-size: 24px;
            color: #252c3f;
            font-weight: 550;
        }

        .artistaddress {
            height: 30%;
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 3px;
        }

        .artistaddress img {
            height: 16px;
            width: 16px;
        }

        .addresstext {
            color: #454f69;
            font-size: 15px;
        }

        .artistbaseline {
            height: 35%;
            width: 100%;
        }

        .artistbaselinetext {
            font-size: 12.5px;
            color: #9ba4bc;
            margin-left: 3.5px;
        }

        .priceinfocont {
            margin-top: 80px;
            height: 50%;
            width: 183px;
        }

        .fromline {
            height: 20%;
            width: 100%;
            color: #9ba4bc;
            font-size: 15px;
        }

        .inrline {
            height: 25%;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
        }

        .taxline {
            height: 15%;
            width: 100%;
            font-size: 12px;
            color: #9ba4bc;
        }

        .pricebuttoncont {
            height: 40%;
            width: 85%;

            color: #fff;
            font-size: 15px;
            background: #ff8141;
            border-radius: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pricebuttoncont:hover {
            box-shadow: 0px 5px 10px 0px #ffbb99;
        }