        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Nunito Sans", sans-serif;
        }

        .newartists {
            height: 38vh;
            width: 73.5%;
        }

        .heading {
            height: 15%;
            width: 100%;
            display: flex;
            align-items: center;

        }

        .featuredtext {
            letter-spacing: .5px;
            color: #777b87;
            font-size: 16px;
            font-weight: 450;
            margin-left: 3px;
        }

        .flexy {
            height: 85%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .featuredbox {
            height: 100%;
            width: 15.7%;
        }

        .imagecont {
            width: 100%;
            height: 75%;
        }

        .imagecont:hover {
            cursor: pointer;

        }

        .imagecont img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }

        .imageheading {
            width: 100%;
            height: 16%;
            display: flex;
            align-items: last baseline;
        }

        .imageheadingtext {
            font-size: 16px;
            font-weight: 600;
            color: #3d4354;
            margin-left: 3px;
        }

        .imageheadingtext:hover {
            cursor: pointer;
            color: #ff8141;
        }

        .imagebase {
            width: 100%;
            height: 9%;
            display: flex;
            align-items: last baseline;
        }

        .imagebasetext {
            font-size: 12px;
            color: #9ba4bc;
            margin-left: 3px;
        }